:root {
  --hue: 200;
  --saturation: 70%;
  --lightness: 55%;
  --main-color: hsl(var(--hue), var(--saturation), var(--lightness));

  --text-white: hsl(0, 0%, 100%);
  --text-light-gray: hsl(0, 0%, 96%);
  --text-x-dark-gray: hsl(0, 0%, 10%);
  --text-dark-gray: hsl(0, 0%, 20%);

  --body-bg-color: hsl(var(--hue), 60%, 94%);
  --bg-color: hsl(var(--hue), 60%, 96%);
  --bg-white: hsl(0, 0%, 100%);

  --border-color: hsl(var(--hue), 48%, 80%);

  --shadow: 0 0 10px hsla(var(--hue), 57%, 63%, 0.3);
  --focus-shadow: 0 0 10px hsla(var(--hue), 57%, 63%, 0.6);
  --fs-4x1: 50px;
  --fs-3x1: 35px;
  --fs-2x1: 26px;
  --fs-lg: 18px;
  --fs-md: 16px;
  --fs-sm: 14px;
}

.service-payment-info {
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
}
.service-payment-home .grid {
  margin-top: 15%;
}
.payment-info-card,
.card-detail {
  grid-column: span 6;
}
.payment-info-card {
  padding: 8px;
  display: flex;
  flex-direction: column;
  background: var(--bg-color);
  border-radius: 10px;
  box-shadow: var(--shadow);
}
.payment-info-card h3 {
  margin: 15px 10px;
  font-size: var(--fs-lg);
  font-weight: 600;
}
.payment-info-card select {
  padding: 10px;
  margin: 0 0 17px 0;
  font-size: var(--fs-md);
  color: var(--text-dark-gray);
  border: 1px solid var(--border-color);
  border-radius: 30px;
  outline: none;
  background: var(--bg-color);
}
.card-detail {
  padding: 8px;
  display: flex;
  flex-direction: column;
  background: var(--bg-color);
  border-radius: 10px;
  box-shadow: var(--shadow);
}
.card-detail label {
  margin: 0 10px;
  font-size: var(--fs-lg);
  font-weight: 500;
}
.card-detail h3 {
  margin: 15px 10px;
  font-size: var(--fs-lg);
  font-weight: 600;
}
.card-detail input {
  padding: 10px;
  margin: 0 0 17px 0;
  font-size: var(--fs-md);
  color: var(--text-dark-gray);
  border: 1px solid var(--border-color);
  border-radius: 30px;
  width: 100%;
  outline: none;
  background: var(--bg-color);
}
.card-hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  .payment-info-card,
  .card-detail {
    grid-column: span 12;
  }
  .service-payment-home .grid{
    margin-top: 30%;
  }
}