:root {
  --hue: 200;
  --saturation: 70%;
  --lightness: 55%;
  --main-color: hsl(var(--hue), var(--saturation), var(--lightness));

  --text-white: hsl(0, 0%, 100%);
  --text-light-gray: hsl(0, 0%, 96%);
  --text-x-dark-gray: hsl(0, 0%, 10%);
  --text-dark-gray: hsl(0, 0%, 20%);

  --body-bg-color: hsl(var(--hue), 60%, 94%);
  --bg-color: hsl(var(--hue), 60%, 96%);
  --bg-white: hsl(0, 0%, 100%);

  --border-color: hsl(var(--hue), 48%, 80%);

  --shadow: 0 0 10px hsla(var(--hue), 57%, 63%, 0.3);
  --focus-shadow: 0 0 10px hsla(var(--hue), 57%, 63%, 0.6);
  --fs-4x1: 50px;
  --fs-3x1: 35px;
  --fs-2x1: 26px;
  --fs-lg: 18px;
  --fs-md: 16px;
  --fs-sm: 14px;
}


.service-payment-info {
  display: flex;
  justify-content: center;
  grid-column: span 12;
  margin: 48px 0;
}
.payment-info-card {
  padding: 8px;
  width: 500px;
  display: flex;
  flex-direction: column;
  background: var(--bg-color);
  border-radius: 10px;
  box-shadow: var(--shadow);
}
.payment-info-card h3 {
  margin: 15px 10px;
  font-size: var(--fs-lg);
  font-weight: 600;
}
.payment-info-card p{
  margin: 10px;
  font-size: var(--fs-md);
  color: var(--text-dark-gray);
}
.payment-info-card .pay-method {
  padding: 10px;
  margin: 0 0 17px 0;
  font-size: var(--fs-md);
  color: var(--text-dark-gray);
  border: 1px solid var(--border-color);
  border-radius: 30px;
  outline: none;
  background: var(--bg-color);
}
.payment-info-card .buybtn{
  padding: 10px;
  width: 130px;
  margin: 20px 0;
  font-size: var(--fs-md);
  color: var(--text-white);
  border: none;
  border: 1px solid var(--main-color);
  border-radius: 30px;
  outline: none;
  background: var(--main-color);
  cursor: pointer;
  transition: 0.3s;
}
.payment-info-card .buybtn:hover{
  background: var(--body-bg-color);
  color: var(--main-color);
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--bg-color);
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 400px;
  height: 250px;
  transition: 0.3s;
}
.popup-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.popup h2 {
  margin: 25px 0 0 0;
  font-size: var(--fs-3x1);
  text-align: center;
  color: var(--main-color);
}
.popup p {
  margin: 20px 0 0 0;
  font-size: 16px;
  text-align: center;
}
.popup button {
  margin: 30px 0 0 0;
  width: 100px;
  padding: 10px 15px;
  font-size: var(--fs-lg);
  background: var(--main-color);
  border: none;
  border: 1px solid var(--main-color);
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}
.popup button:hover {
  background: var(--body-bg-color);
  color: var(--main-color);
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

/* .card-detail {
  padding: 8px;
  display: flex;
  flex-direction: column;
  background: var(--bg-color);
  border-radius: 10px;
  box-shadow: var(--shadow);
}
.card-detail label {
  margin: 0 10px;
  font-size: var(--fs-lg);
  font-weight: 500;
}
.card-detail h3 {
  margin: 15px 10px;
  font-size: var(--fs-lg);
  font-weight: 600;
}
.card-detail input {
  padding: 10px;
  margin: 0 0 17px 0;
  font-size: var(--fs-md);
  color: var(--text-dark-gray);
  border: 1px solid var(--border-color);
  border-radius: 30px;
  width: 100%;
  outline: none;
  background: var(--bg-color);
}
.card-hidden {
  display: none;
} */

@media screen and (max-width: 768px) {
  .popup {
    width: 300px;
    height: 220px;
  }
  .popup h2 {
    font-size: var(--fs-2x1);
    margin: auto;
  }
  .popup p {
    font-size: var(--fs-sm);
    margin: auto;
  }
  .popup button {
    font-size: var(--fs-md);
    margin: auto;
  }
}